@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <h3>Document Explorer</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Documents</a></li>
                <li class="breadcrumb-item active" aria-current="page">Personal</li>
            </ol>
        </nav>

        <div class="row">

            <div class="col-xl-8 mb-3">

                <div class="card">

                    <div class="card-body text-dark px-4">

                        <div class="row">

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light dblclick border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-folder text-warning fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Folder 1
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-folder text-warning fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Folder 2
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-folder text-warning fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Folder 3
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-folder text-warning fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Folder 4
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-folder text-warning fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Folder 5
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-folder text-warning fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Folder 6
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-folder text-warning fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Folder 7
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-folder text-warning fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Folder 8
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-folder text-warning fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Folder 9
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-file-pdf text-danger fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        PDF File 1.pdf
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-file-pdf text-danger fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        PDF File 2.pdf
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-file-pdf text-danger fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        PDF File 3.pdf
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-file-pdf text-danger fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        PDF File 4.pdf
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-file-word text-primary fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Word File 1.docx
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-file-word text-primary fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Word File 2.docx
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-file-word text-primary fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Word File 3.docx
                                    </span>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-4 my-2">
                                <a href="" class="btn btn-light border w-100 p-3 text-start">
                                    <span class="align-top">
                                        <i class="fa-regular fa-file-word text-primary fa-2x me-2"></i>
                                    </span>
                                    <span class="align-middle text-dark pt-1">
                                        Word File 4.docx
                                    </span>
                                </a>
                            </div>


                        </div>

                    </div>

                </div>

            </div>


            <div class="col-xl-4 mb-3">

                <div class="card">

                    <div class="card-body">

                        <div class="row mb-2">
                            <label class="col-md-3 col-form-label text-end text-muted">Type: </label>
                            <div class="col-md-9">
                                <input type="text" readonly class="form-control-plaintext" value="Folder">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-md-3 col-form-label text-end text-muted">Name: </label>
                            <div class="col-md-9">
                                <input type="text" readonly class="form-control-plaintext" value="Folder 1">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-md-3 col-form-label text-end text-muted">Version: </label>
                            <div class="col-md-9">
                                <input type="text" readonly class="form-control-plaintext" value="1">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-md-3 col-form-label text-end text-muted">Path: </label>
                            <div class="col-md-9">
                                <input type="text" readonly class="form-control-plaintext" value="/">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-md-3 col-form-label text-end text-muted">Owner: </label>
                            <div class="col-md-9">
                                <input type="text" readonly class="form-control-plaintext" value="username">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-md-3 col-form-label text-end text-muted">Created: </label>
                            <div class="col-md-9">
                                <input type="text" readonly class="form-control-plaintext" value="2022-08-16 13:23 PM">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-md-3 col-form-label text-end text-muted">Files: </label>
                            <div class="col-md-9">
                                <input type="text" readonly class="form-control-plaintext" value="3">
                            </div>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-12">

                <div class="card">

                    <div class="card-body text-dark px-4">

                        <table class="table table-striped table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th class="py-3" style="width: 25px;"></th>
                                    <th class="py-3">Filename</th>
                                    <th class="py-3">Type</th>
                                    <th class="py-3">Version</th>
                                    <th class="py-3">Owner</th>
                                    <th class="py-3">Created</th>
                                    <th class="py-3">Files</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-folder text-warning fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Folder 1
                                        </span>
                                    </td>
                                    <td>Folder</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-folder text-warning fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Folder 2
                                        </span>
                                    </td>
                                    <td>Folder</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-folder text-warning fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Folder 3
                                        </span>
                                    </td>
                                    <td>Folder</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-folder text-warning fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Folder 4
                                        </span>
                                    </td>
                                    <td>Folder</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-folder text-warning fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Folder 5
                                        </span>
                                    </td>
                                    <td>Folder</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-folder text-warning fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Folder 6
                                        </span>
                                    </td>
                                    <td>Folder</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-folder text-warning fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Folder 7
                                        </span>
                                    </td>
                                    <td>Folder</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-folder text-warning fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Folder 8
                                        </span>
                                    </td>
                                    <td>Folder</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-folder text-warning fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Folder 9
                                        </span>
                                    </td>
                                    <td>Folder</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-file-pdf text-danger fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            PDF File 1.pdf
                                        </span>
                                    </td>
                                    <td>PDF</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-file-pdf text-danger fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            PDF File 2.pdf
                                        </span>
                                    </td>
                                    <td>PDF</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-file-pdf text-danger fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            PDF File 3.pdf
                                        </span>
                                    </td>
                                    <td>PDF</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-file-pdf text-danger fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            PDF File 4.pdf
                                        </span>
                                    </td>
                                    <td>PDF</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-file-word text-primary fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Word File 1.docx
                                        </span>
                                    </td>
                                    <td>Word</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-file-word text-primary fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Word File 2.docx
                                        </span>
                                    </td>
                                    <td>word</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-file-word text-primary fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Word File 3.docx
                                        </span>
                                    </td>
                                    <td>Word</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <i class="fa-regular fa-file-word text-primary fa-2x"></i>
                                    </td>
                                    <td>
                                        <span class="align-middle text-dark pt-1">
                                            Word File 4.docx
                                        </span>
                                    </td>
                                    <td>Word</td>
                                    <td>3</td>
                                    <td>Username</td>
                                    <td>2022-08-23 09:30 AM</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        $(function() {

            $('a.dblclick').click(function(e) {
                //fill details card
                return false;
            });

            $('a.dblclick').dblclick(function() {
                location.href = this.href;
                return true;
            });

        });
    </script>

}