@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutAccount";
}

<div class="row">
    <div class="col">
        <h6 class="display-6 py-5 text-center">Forgot Password</h6>
        <form>
            <div class="form-group mb-3">
                <label class="form-label">Email:</label>
                <input class="form-control" type="text" />
            </div>
            <div class="form-group mb-3">
                <a class="btn btn-warning float-start" asp-controller="Account" asp-action="ForgotPasswordConfirmation">Send Email</a>
                <a class="btn btn-outline-warning float-end" asp-controller="Account" asp-action="Login">Back to login</a>
            </div>
        </form>
    </div>
</div>