@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutAccount";
}

<div class="row">
    <div class="col">
        <h6 class="display-6 py-5 text-center">Login</h6>
        <form>
            <div class="form-group mb-3">
                <label class="form-label">Email:</label>
                <input class="form-control" type="text" />
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Password:</label>
                <input class="form-control" type="password" />
            </div>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
            </div>
            <div class="form-group mb-3">
                <a href="#" class="btn btn-warning float-start">Login</a>
                <a class="btn btn-outline-warning float-end" asp-controller="Account" asp-action="ForgotPassword">Forgot password</a>
            </div>
        </form>
    </div>
</div>